<ion-view view-title="My Profile">
    <ion-content>
      <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="refresh()"
          disable-pulling-rotation="true" >
      </ion-refresher>
      <!-- Profile -->
      <div class="profile-content" >
        <img
            ng-if="vm.profile.profImageID === null"
            class="profile-image"
            ng-src="{{ vm.profile.profImage }}"
            id="content-main" >
        <img
            ng-if="vm.profile.profImageID != null"
            class="profile-image"
            ng-src="{{ vm.profileImg.link() }}"
            id="content-main" >

        <div style="text-align: left; display: inline-block">
          <h4 class="profile-name">
            {{vm.profile.profName}}
          </h4>
          <br >
          <span class="profile-location">
            <i class="icon ion-location"></i> {{ vm.location(vm.profile.location) }}
          </span>
          <br >
          <span class="profile-rating">
            <i class="fa fa-thumbs-o-up"></i> {{vm.profile.goodRating}}
            &nbsp;
            <i class="fa fa-thumbs-o-down"></i> {{vm.profile.badRating}}
          </span>
        </div>
      </div>
      <button
          nav-direction="enter"
          style="text-align: center; background-color: #FFFFFF; margin-top: 0px; margin-bottom: 10px;"
          ui-sref="app.editprofile"
          class="button button-full button-clear button-light button-custom button-myprofile" >
        <i class="icon ion-gear-b"></i>&nbsp;
        Account Settings
      </button>
        <!-- Feedback -->
      <div class="list no-margin">
        <div ng-repeat="post in vm.feedback" class="item item-avatar">
          <img
              ng-if="vm.feedbackBy(post.postBy).profImageID === null"
              class="click"
              ui-sref="app.seller({ profileId: vm.feedbackBy(post.postBy)._id })"
              ng-src="{{ vm.feedbackBy(post.postBy).profImage }}" >
          <img
              ng-if="vm.feedbackBy(post.postBy).profImageID != null"
              class="click"
              ui-sref="app.seller({ profileId: vm.feedbackBy(post.postBy)._id })"
              ng-src="{{ vm.postbyImg(post.postBy).link() }}" >

          <h2 class="click" ui-sref="app.seller({ profileId: vm.feedbackBy(post.postBy)._id })" style="font-size: 14px;">
            {{post.postName}}
            &nbsp;&nbsp;
            <i ng-if="post.goodRating === true" style="font-size: 18px;" class="fa fa-thumbs-o-up"></i>
            <i ng-if="post.goodRating === false" style="font-size: 18px;" class="fa fa-thumbs-o-down"></i>
          </h2>
          <span class="feedback-date"> {{post.postDate | calendar}} </span>
          <p ng-bind-html="vm.review(post._id)" class="feedback-text"></p>
        </div>
        <div ng-if="vm.feedback.length === 0" class="item no-posts">
          <h3>{{ vm.noFeedback }}</h3>
        </div>
      </div>
      <ion-infinite-scroll
          ng-if="vm.loaded < vm.allfeedback"
          spinner="spiral"
          distance="1%"
          on-infinite="loadMore()">
      </ion-infinite-scroll>
    </ion-content>
</ion-view>
