<ion-modal-view style="width: 100%; height: 100%; top: 0px; bottom: 0px; right: 0px; left: 0px; background-color: #F0F0F0;">
  <ion-header-bar>
    <h1 class="title">Please rate this user</h1>
  </ion-header-bar>
  <ion-content class="white">

	  <div class="item item-avatar no-border">
      <img
          ng-if="vm.otherUser.profImageID === null"
          ng-src="{{ vm.otherUser.profImage }}" >
      <img
          ng-if="vm.otherUser.profImageID !== null"
          ng-src="{{ vm.userImg.link() }}" >
        <h2>{{ vm.otherUser.profName }}</h2>
    </div>

    <label class="padding item item-input item-stacked-label no-border">
      <span class="input-label">Rating</span>
      <div class="row" style="text-align: center;">
        <div class="button-bar">
          <ion-radio
              ng-class="(vm.rating === null || vm.rating === false)  ? 'not-rated' : ''"
              class="rate-radio"
              icon="none"
              ng-model="vm.rating"
              ng-value="true"
              name="rating" >
            <i class="fa fa-thumbs-o-up fa-lg" style="padding: 0;" ></i>
          </ion-radio>
          <ion-radio
              ng-class="(vm.rating === null || vm.rating === true) ? 'not-rated' : ''"
              class="rate-radio"
              icon="none"
              ng-model="vm.rating"
              ng-value="false"
              name="rating" >
            <i class="fa fa-thumbs-o-down fa-lg" style="padding: 0;" ></i>
          </ion-radio>
        </div>
      </div>
    </label>
    <label class="item item-stacked-label padding">
      <span class="input-label">Feedback</span>
      <textarea
          ng-model="vm.feedback"
          row="5"
          style="resize: none; height: 86px; width: 100%; overflow:hidden;"
          type="text"
          placeholder="Type your comments here." >
      </textarea>
    </label>
    <div class="padding">
      <button ng-disabled="vm.rating === null" ng-click="vm.rate()" class="button button-block button-light button-custom">
        Submit
      </button>
      <button nav-direction="forward" ui-sref="app.chatlist" ng-click="vm.skip()" class="button button-block button-light button-outline button-custom">
        Skip
      </button>
    </div>
  </ion-content>
</ion-modal-view>
