<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light bar-custom">
      <ion-nav-back-button nav-direction="back" class="button button-clear button-icon ion-ios-arrow-left">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button ng-if="menu.currentUser" ui-sref="app.feeds" class="button button-icon button-clear ion-ios-filing-outline">
          <span ng-show="menu.unreadFeed != 0" class="badge badge-assertive header-badge">{{ menu.unreadFeed }}</span>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-light bar-custom-menu">
      <h1 ng-if="!menu.currentUser" class="title">
        <i style="font-size: 22px;" class="icon ion-android-person"></i>
        &nbsp;&nbsp;
        Not Signed-in
      </h1>
      <h1 ng-if="menu.currentUser" class="title">
        <img class="menu-avatar" ng-if="menu.myprofile.profImageID === null" ng-src="{{ menu.myprofile.profImage }}">
        <img class="menu-avatar" ng-if="menu.myprofile.profImageID != null" ng-src="{{ menu.profileImg.link() }}">
        &nbsp;
        {{ menu.myprofile.profName }}
      </h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="no-margin no-border menu-list">
        <ion-item class="click no-border" menu-close ui-sref="app.shop">
          <i class="icon ion-home"></i> Home
        </ion-item>
        <ion-item class="click no-border" ng-if="!menu.currentUser" menu-close ui-sref="app.login">
          <i class="icon ion-log-in"></i> Login
        </ion-item>
        <ion-item class="click no-border" ng-if="menu.currentUser" menu-close ui-sref="app.myprofile({ profileId: menu.myprofile._id })">
          <i class="icon ion-android-person"></i> My Profile
        </ion-item>
        <ion-item class="click no-border" ng-if="menu.currentUser" menu-close ui-sref="app.search">
          <i class="icon ion-android-search"></i> Search
        </ion-item>
        <ion-item class="click no-border" ng-if="menu.currentUser" menu-close ui-sref="app.select">
          <i class="icon ion-plus"></i> Sell Item
        </ion-item>
        <ion-item class="click no-border" menu-close>
          <a href="mailto:support@tapgadget.io" style="text-decoration: none;">
            <i class="icon ion-help"></i> Contact Support
          </a>
        </ion-item>
        <ion-item ng-if="menu.isMobile === false && menu.currentUser" class="click no-border" menu-close ng-click="menu.logout()">
          <i class="icon ion-log-out"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
